name: Example CI/CD Pipeline

# Trigger the workflow on push to main or develop branches
on:
  push:
    branches: [main, develop]
# pada setiap push ke cabang main atau develop
jobs:
  ci-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./02_Node_Modules
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
           node-version: '22.14.0'

      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build

      - name: Run tests
        run: npm test

  cd_test:
    runs-on: ubuntu-latest
    needs: ci-test
    defaults:
      run:
        working-directory: ./02_Node_Modules

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: SSH by appleboy
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ..
            sudo su
            cd ..
            ls
            cd home/app_project
            echo "Berhasil masuk ke server"
            ls

            if [ -d ".git" ]; then
              echo "Repository sudah ada, melakukan git pull"
              sudo git pull origin main
              echo "Berhasil pull"
            else
              echo "Repository belum ada, melakukan git clone"
              sudo git clone https://github.com/tikature/devops_class.git .
              echo "Berhasil clone"
            fi
        
  sonarcloud:
    name: Analyze with SonarCloud
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.14.0

      - name: Install dependencies
        run: npm install

      - name: Run tests and collect coverage
        run: npx jest --coverage --coverageReporters=lcov

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.organization=tikature
            -Dsonar.projectKey=tikature_devops_class
            -Dsonar.sources=./src
            -Dsonar.tests=./tests
            -Dsonar.test.inclusions=**/*.test.js
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.coverage.exclusions=tests/**
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}