name: Example CI/CD Pipeline

# Trigger the workflow on push to main or develop branches
on:
  push:
    branches: [main, develop]

# Pekerjaan yang akan dijalankan pada setiap push ke cabang main atau develop
jobs:
  ci-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./02_Node_Modules
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
           node-version: '22.14.0'

      # - name: Set up Node.js
      #   uses: actions/setup-node@v3

      # - name: Install dependencies
      #   run: npm install

      # - name: Run tests
      #   run: npm test